{% extends "layout.twig"%}

{% block content %}
    <h1>Bilan national</h1>
    <div>Ces graphes indiquent l'état de l'épidémie au niveau nationnal. Vous pouvez voir le détail des valeurs en glissant votre curseur sur les zones souhaitées</div>
    <hr>
    <div id="bilan-national" class="bilan">
        <div class="graph">
            <canvas id="bilan_etat_epidemie"></canvas>
        </div>
        <div class="graph">
            <canvas id="bilan_sexe"></canvas>
        </div>
        <div class="graph">
            <canvas id="bilan_etat_sante"></canvas>
        </div>
        <div class="graph">
            <canvas id="bilan_age"></canvas>
        </div>
        <div class="graph">
            <canvas id="bilan_jour_gueris"></canvas>
        </div>
        <div class="graph">
            <canvas id="bilan_jour_mort"></canvas>
        </div>
        <div class="graph">
            <canvas id="bilan_jour_surveille"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        Chart.defaults.global.title.display =true;
        Chart.defaults.global.maintainAspectRatio = false;
        var ctx = document.getElementById('bilan_etat_epidemie').getContext('2d');
        ctx.canvas.width = 300;
        ctx.canvas.height = 300;
        var chart_etat_epidemeie = new Chart(ctx, {
            // The type of chart we want to create
            type: 'doughnut',
            // The data for our dataset
            data: {
                labels: ['Guéri', 'Mort', 'Confiné', 'Hospitalisé'],
                datasets: [{
                    label: 'Stats_etat_nation',
                    backgroundColor: [
                        'rgba(46, 204, 113,0.4)',
                        'rgba(149, 165, 166,0.4)',
                        'rgba(241, 196, 15,0.4)',
                        'rgba(231, 76, 60,0.4)',
                    ],
                    borderColor: [
                        'rgb(46, 204, 113)',
                        'rgb(149, 165, 166)',
                        'rgb(241, 196, 15)',
                        'rgb(231, 76, 60)',
                    ],
                    data: [{{bilan.statut.gueri}}, {{bilan.statut.mort}}, {{bilan.statut.confine}}, {{bilan.statut.hospitalise}}]
                }]
            },

            // Configuration options go here
            options: {
                title :{
                    text: "Etat de l\'épidémie"
                },

            }
        });

        ctx = document.getElementById('bilan_sexe').getContext('2d');
        ctx.canvas.width = 300;
        ctx.canvas.height = 300;
        var chart_sexe = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',
            // The data for our dataset
            data: {
                labels: ['Homme', 'Femme'],
                datasets: [{
                    label: 'Stats_etat_nation',
                    backgroundColor: [
                        'rgba(52, 152, 219,0.4)',
                        'rgba(231, 76, 60,0.4)',
                    ],
                    borderColor: [
                        'rgba(52, 152, 219,1.0)',
                        'rgb(231, 76, 60)',
                    ],
                    data: [{{bilan.sexe.M}}, {{bilan.sexe.F}}]
                }]
            },
            // Configuration options go here
            options: {
                title :{
                    text: "Population surveillé en fonction de leur sexe"
                }
            }
        });

        ctx = document.getElementById('bilan_etat_sante').getContext('2d');
        ctx.canvas.width = 300;
        ctx.canvas.height = 300;
        var chart_etat_sante = new Chart(ctx, {
            // The type of chart we want to create
            type: 'doughnut',
            // The data for our dataset
            data: {
                labels: ['fièvre et pb respiratoires', 'fièvre', 'aucun symptome', 'inconscient'],
                datasets: [{
                    label: 'Stats_etat_nation',
                    backgroundColor: [
                        'rgba(230, 126, 34,0.4)',
                        'rgba(241, 196, 15,0.4)',
                        'rgba(46, 204, 113,0.4)',
                        'rgba(231, 76, 60,0.4)',
                    ],
                    borderColor: [
                        'rgb(230, 126, 34,1.0)',
                        'rgb(241, 196, 15)',
                        'rgb(46, 204, 113)',
                        'rgb(231, 76, 60)',
                    ],
                    data: [{{bilan.etat_sante.fievre_pb_resp}}, {{bilan.etat_sante.fievre}}, {{bilan.etat_sante.aucun_symp}}, {{bilan.etat_sante.inconscient}}]
                }]
            },
            // Configuration options go here
            options: {
                title :{
                    text: "Population surveillé en fonction de leur etat de santé"
                }
            }
        });


        ctx = document.getElementById('bilan_age').getContext('2d');
        ctx.canvas.width = 300;
        ctx.canvas.height = 300;
        var chart_age = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
            // The data for our dataset
            data: {
                labels: [' -15 ans', 'entre 15 et 44 ans', 'entre 45 et 64 ans', 'entre 65 et 75','plus de 75'],
                datasets: [{
                    label: 'age',
                    backgroundColor: [
                        'rgba(46, 204, 113,0.6)',
                        'rgba(149, 165, 166,0.6)',
                        'rgba(241, 196, 15,0.6)',
                        'rgba(231, 76, 60,0.6)',
                        'rgba(52, 152, 219,0.6)',
                    ],
                    data: [{{bilan.age.moins_15}}, {{bilan.age._15_44}}, {{bilan.age._45_64}}, {{bilan.age._65_74}}, {{bilan.age.plus_75}}]
                }]
            },
            // Configuration options go here
            options: {
                title :{
                    text: "Population surveillé en fonction de leur age"
                },
            }
        });

        var suspects_dates = [];
        {% for date in bilan_journalier.suspect.dates %}
            suspects_dates.push('{{ date }}');
        {% endfor %}

        var suspects_nb = [];
        {% for nb in bilan_journalier.suspect.nb %}
        suspects_nb.push('{{ nb }}');
        {% endfor %}

        Chart.defaults.global.elements.point.backgroundColor = 'rgb(241, 196, 15)';
        ctx = document.getElementById('bilan_jour_surveille').getContext('2d');
        ctx.canvas.width = 600;
        ctx.canvas.height = 300;
        var bilan_jour_surveille = new Chart(ctx, {
            type: 'line',
            data: {
                labels: suspects_dates,
                datasets: [{
                    label: 'Nombre de cas/Jours',
                    data: suspects_nb,
                    backgroundColor : [
                        'rgba(241, 196, 15,0.4)',
                    ],
                    borderColor : [
                        'rgb(241, 196, 15)',
                    ],
                }],

            },
            options: {
                title :{
                    text: "Evolution du nombre de surveillé en fonction du temps"
                },
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });

        var mort_dates = [];
        {% for date in bilan_journalier.mort.dates %}
        mort_dates.push('{{ date }}');
        {% endfor %}

        var mort_nb = [];
        {% for nb in bilan_journalier.mort.nb %}
        mort_nb.push('{{ nb }}');
        {% endfor %}

        Chart.defaults.global.elements.point.backgroundColor = 'rgb(149, 165, 166)';
        ctx = document.getElementById('bilan_jour_mort').getContext('2d');
        ctx.canvas.width = 600;
        ctx.canvas.height = 300;
        var bilan_jour_mort = new Chart(ctx, {
            type: 'line',
            data: {
                labels: mort_dates,
                datasets: [{
                    label: 'Nombre de cas/Jours',
                    data: mort_nb,
                    backgroundColor : [
                        'rgba(149, 165, 166,0.4)',
                    ],
                    borderColor : [
                        'rgb(149, 165, 166)',
                    ],
                }],

            },
            options: {
                title :{
                    text: "Evolution du nombre de mort en fonction du temps"
                },
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });

        var gueris_dates = [];
        {% for date in bilan_journalier.gueris.dates %}
        gueris_dates.push('{{ date }}');
        {% endfor %}

        var gueris_nb = [];
        {% for nb in bilan_journalier.gueris.nb %}
        gueris_nb.push('{{ nb }}');
        {% endfor %}

        Chart.defaults.global.elements.point.backgroundColor = 'rgb(46, 204, 113)';
        ctx = document.getElementById('bilan_jour_gueris').getContext('2d');
        ctx.canvas.width = 600;
        ctx.canvas.height = 300;
        var bilan_jour_gueris = new Chart(ctx, {
            type: 'line',
            data: {
                labels: gueris_dates,
                datasets: [{
                    label: 'Nombre de cas/Jours',
                    data: gueris_nb,
                    backgroundColor : [
                        'rgba(46, 204, 113,0.4)',
                    ],
                    borderColor : [
                        'rgb(46, 204, 113)',
                    ],
                }],

            },
            options: {
                title :{
                    text: "Evolution du nombre de guéris en fonction du temps"
                },
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>

{% endblock %}