{% extends "layout.twig" %}

{% block content %}
    <h1> Ajouter un nouveau patient </h1>
    {% if message.valide %}
        <div class="alert alert-success">
            {{ message.valide }}
        </div>
    {% endif %}

    {% if message.echec %}
        <div class="alert alert-danger">
            {{ message.echec }}
        </div>
    {% endif %}

    <form action="{{ path_for('patient') }}" method="post">
        <div class="form-group">
            <label for="input_numsecu">Numéro de sécurité social</label>
            <input type="text" class="form-control {% if message.erreurs.num_secu %}border border-danger{% endif %}"
                   id="input_numsecu" name="num_secu">
            {% if message.erreurs.num_secu %}
                <span class="help-block text-danger"> {{ message.erreurs.num_secu }}</span>
            {% endif %}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Input_name">Nom</label>
                <input type="text" class="form-control  {% if message.erreurs.nom %}border border-danger{% endif %}"
                       id="Input_name" name="nom" placeholder="Nom du patient">
                {% if message.erreurs.nom %}
                    <span class="help-block text-danger"> {{ message.erreurs.nom }}</span>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Prénom</label>
                <input type="text" class="form-control  {% if message.erreurs.prenom %}border border-danger{% endif %}"
                       id="inputPassword4" name="prenom" placeholder="Prénom du patient">
                {% if message.erreurs.prenom %}
                    <span class="help-block text-danger"> {{ message.erreurs.prenom }}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="input_adresse">Adresse</label>
            <input type="text" class="form-control {% if message.erreurs.rue %}border border-danger{% endif %}"
                   id="input_adresse" name="rue" placeholder="1 rue de ...">
            {% if message.erreurs.rue %}
                <span class="help-block text-danger"> {{ message.erreurs.rue }}</span>
            {% endif %}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputVille">Ville</label>
                <input type="text" class="form-control  {% if message.erreurs.ville %}border border-danger{% endif %}"
                       name="ville" id="inputVille">
                {% if message.erreurs.ville %}
                    <span class="help-block text-danger"> {{ message.erreurs.ville }}</span>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label for="input_departement">Département</label>
                <select id="input_departement"
                        class="form-control  {% if message.erreurs.departement %}border border-danger{% endif %}"
                        name="departement">
                    <option selected>Selectionnez ...</option>
                    {% for dep in departements %}
                        <option value="{{ dep.nodep }}">{{ dep.nomdep }}</option>
                    {% endfor %}
                </select>
                {% if message.erreurs.departement %}
                    <span class="help-block text-danger"> {{ message.erreurs.departement }}</span>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label for="input_codePost">Code Postal</label>
                <input type="text" class="form-control {% if message.erreurs.codePost %}border border-danger{% endif %}"
                       id="input_codePost" name="codePost">
                {% if message.erreurs.codePost %}
                    <span class="help-block text-danger"> {{ message.erreurs.codePost }}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="date_naiss">Date de naissance</label>
                <input type="date"
                       class="form-control {% if message.erreurs.date_naiss %}border border-danger{% endif %}"
                       id="date_naiss" name="date_naiss">
                {% if message.erreurs.date_naiss %}
                    <span class="help-block text-danger"> {{ message.erreurs.date_naiss }}</span>
                {% endif %}
            </div>

            <div class="form-group col-md-6">
                <label for="tel">Numéro de téléphone</label>
                <input type="tel" class="form-control {% if message.erreurs.tel %}border border-danger{% endif %}"
                       id="tel" name="tel">
                {% if message.erreurs.tel %}
                    <span class="help-block text-danger"> {{ message.erreurs.tel }}</span>
                {% endif %}
            </div>
        </div>
        <fieldset class="form-group ">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexe" id="gridRadios1"
                               value="F" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Femme
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexe" id="gridRadios2"
                               value="M">
                        <label class="form-check-label" for="gridRadios2">
                            Homme
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="date_surveillance">Début surveillance</label>
                <input type="datetime-local"
                       class="form-control {% if message.erreurs.date_surv %}border border-danger{% endif %}"
                       id="date_surveillance" name="dateSurveillance">
                {% if message.erreurs.date_surv %}
                    <span class="help-block text-danger"> {{ message.erreurs.date_surv }}</span>
                {% endif %}
            </div>

            <div class="form-group col-md-6">
                <label for="Etat_sante">Etat de santé</label>
                <select id="Etat_sante" class="form-control" name="Etat_sante">
                    <option selected>aucun symptome</option>
                    <option>fièvre</option>
                    <option>fièvre et pb respiratoires</option>
                    <option>inconscient</option>
                    <option>décédé</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Ajouter">
    </form>

    <HR>

    <h1> Rechercher des patients </h1>
    <div class="form-row pb-5 pt-1">
        <div class="col-10 m-auto">
            <form method="post" id="do-rechercher-patient" action="{{ path_for('test') }}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select id="select-recherche-patient" name="oCategorie" class="form-control">
                            <option selected="selected" value="0">Nom/Prenom</option>
                            <option value="1">Numéro de sécurité</option>
                        </select>
                    </div>
                    <input id="rechercher-patient" name="recherche" type="text" class="form-control" aria-label="Saisie de mots clés">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="do-rechercher-patient" type="submit">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="p-2">
        Si vous souhaitez trouver un patient, veuillez effectuer une recherche. Afin d'améliorer l'affichage, uniquement les 100 premiers résultats seront affichés !
    </div>
    <hr>
    <div id="liste-patients">

    </div>


    <script>
        $('#do-rechercher-patient').submit(function (event) {
            $.ajax({
                type: "post",
                async : true,
                url: '{{ path_for('test') }}',
                data: {
                    'recherche': $('#rechercher-patient').val(),
                    'types_recherche': $('#select-recherche-patient').val(),
                },
                success:
                    function (result) {
                        let data = JSON.parse(result);
                        var liste = $('#liste-patients').empty();
                        if (data.length === 0){
                            liste.append("<div class='m-2'>Aucun patient n'a été trouvé avec votre recherche.</div>")
                        }else{
                            liste.append("<div class='m-2'>"+data.length+" patient(s) trouvé(s)</div>");
                            data.forEach(elem=>{
                                set_patient_html(elem);
                            });
                        }
                    },
                error: function (xhr,status,error) {
                    $('#liste-patients').empty().append("<div class='m-2'>Une erreur est survenue lors de la recherche. Ressayez s'il vous plait</div>");
                },
                statusCode: {
                    404: function() {
                        alert("page not found");
                    }
                }
            });
            event.preventDefault();
        });

        function set_patient_html(patient) {
            var style_etat_sante ="";
            switch (patient.etat_sante) {
                case "fièvre et pb respiratoires":
                    style_etat_sante = "sante-fievre-pb-resp";
                    break;
                case "fièvre":
                    style_etat_sante = "sante-fievre";
                    break;
                case "décédé":
                    style_etat_sante = "sante-mort";
                    break;
                case "inconscient":
                    style_etat_sante = "sante-inconscient";
                    break;
                case "aucun symptome":
                    style_etat_sante = "sante-aucun-sympt";
                    break;
            }
            let hosp ="";
            if (!patient.hospitalise && patient.fin_surveillance == null && (patient.etat_sante !== 'aucun symptome')){
                var url_hosp = '{{ path_for('hospitaliserPatient', {'numsecu': 'numsecu'}) }}';
                url_hosp = url_hosp.replace('numsecu',patient.num_secu);
                hosp="<a href=\""+url_hosp+"\" class=\"\">" +
                    "    <svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\"" +
                    "         xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" id=\"Capa_1\" x=\"0px\" y=\"0px\"" +
                    "         viewBox=\"0 0 512 512\" style=\"enable-background:new 0 0 512 512;\" xml:space=\"preserve\"" +
                    "         width=\"512px\" height=\"512px\"><g>" +
                    "            <g>" +
                    "                <g>" +
                    "                    <path d=\"M469.333,106.667H362.667V85.333c0-23.531-19.135-42.667-42.667-42.667H192c-23.531,0-42.667,19.135-42.667,42.667v21.333    H42.667C19.135,106.667,0,125.802,0,149.333v277.333c0,23.531,19.135,42.667,42.667,42.667h426.667    c23.531,0,42.667-19.135,42.667-42.667V149.333C512,125.802,492.865,106.667,469.333,106.667z M192,85.333h128v21.333H192V85.333z     M362.667,330.667c0,5.896-4.771,10.667-10.667,10.667h-53.333v53.333c0,5.896-4.771,10.667-10.667,10.667h-64    c-5.896,0-10.667-4.771-10.667-10.667v-53.333H160c-5.896,0-10.667-4.771-10.667-10.667v-64c0-5.896,4.771-10.667,10.667-10.667    h53.333v-53.333c0-5.896,4.771-10.667,10.667-10.667h64c5.896,0,10.667,4.771,10.667,10.667V256H352    c5.896,0,10.667,4.771,10.667,10.667V330.667z\"" +
                    "                          data-original=\"#000000\" class=\"active-path\" data-old_color=\"#000000\"" +
                    "                          fill=\"#778086\"/>" +
                    "                </g>" +
                    "            </g>" +
                    "        </g>" +
                    "            </svg>" +
                    "</a>";
            }
            var url_patient = '{{ path_for('voirPatient', {numsecu: 'numsecu'}) }}';
            url_patient = url_patient.replace("numsecu",patient.num_secu);
            $('#liste-patients').append(
                "<div class=\"mb-3 p-2 patient\">" +
                "   <div class=\"col-10 info-patient\">" +
                "       <div data-num_secu=\""+patient.num_secu+"\" class=\"nom-patient\">"+patient.nom +"</div>" +
                "       <div class=\"prenom-patient bottom\">"+patient.prenom +"</div>" +
                "       <div class=\"info-etat-sante "+style_etat_sante+"\">"+patient.etat_sante+"</div>" +
                "   </div>" +
                "   <div class=\"col-2 controls\">" +
                hosp +
                "       <a href=\""+url_patient+"\" class=\"\">" +
                "           <svg xmlns=\"http://www.w3.org/2000/svg\" id=\"Capa_1\" enable-background=\"new 0 0 524.235 524.235\"" +
                "                height=\"512px\" viewBox=\"0 0 524.235 524.235\" width=\"512px\" class=\"icon\">" +
                "               <g>" +
                "                   <path d=\"m262.118 0c-144.53 0-262.118 117.588-262.118 262.118s117.588 262.118 262.118 262.118 262.118-117.588 262.118-262.118-117.589-262.118-262.118-262.118zm17.05 417.639c-12.453 2.076-37.232 7.261-49.815 8.303-10.651.882-20.702-5.215-26.829-13.967-6.143-8.751-7.615-19.95-3.968-29.997l49.547-136.242h-51.515c-.044-28.389 21.25-49.263 48.485-57.274 12.997-3.824 37.212-9.057 49.809-8.255 7.547.48 20.702 5.215 26.829 13.967 6.143 8.751 7.615 19.95 3.968 29.997l-49.547 136.242h51.499c.01 28.356-20.49 52.564-48.463 57.226zm15.714-253.815c-18.096 0-32.765-14.671-32.765-32.765 0-18.096 14.669-32.765 32.765-32.765s32.765 14.669 32.765 32.765c0 18.095-14.668 32.765-32.765 32.765z\"" +
                "                         data-original=\"#000000\" class=\"active-path\" data-old_color=\"#000000\" fill=\"#747E86\"/>" +
                "               </g>" +
                "           </svg>" +
                "       </a>" +
                "   </div>"+
                "</div>"
            )
        }
    </script>

{% endblock %}

