{% extends "layout.twig" %}

{% block content %}
    <div class="w-75 m-auto">
        <h1> Ajouter un nouveau patient </h1>
        {% if message.valide%}
            <div class="alert alert-success">
               {{ message.valide }}
            </div>
        {% endif %}

        {% if message.echec%}
            <div class="alert alert-danger">
                {{ message.echec }}
            </div>
        {% endif %}

        <form action="{{ path_for('patient') }}" method="post">
            <div class="form-group">
                <label for="input_numsecu">Numéro de sécurité social</label>
                <input type="text" class="form-control {% if message.erreurs.num_secu %}border border-danger{% endif %}" id="input_numsecu" name="num_secu">
                {% if message.erreurs.num_secu %}
                    <span class="help-block text-danger"> {{ message.erreurs.num_secu }}</span>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Input_name">Nom</label>
                    <input type="text" class="form-control  {% if message.erreurs.nom %}border border-danger{% endif %}" id="Input_name" name="nom" placeholder="Nom du patient" >
                    {% if message.erreurs.nom %}
                        <span class="help-block text-danger"> {{ message.erreurs.nom }}</span>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Prénom</label>
                    <input type="text" class="form-control  {% if message.erreurs.prenom %}border border-danger{% endif %}" id="inputPassword4" name="prenom" placeholder="Prénom du patient">
                    {% if message.erreurs.prenom %}
                        <span class="help-block text-danger"> {{ message.erreurs.prenom }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="input_adresse">Adresse</label>
                <input type="text" class="form-control {% if message.erreurs.rue %}border border-danger{% endif %}" id="input_adresse" name="rue" placeholder="1 rue de ..." >
                {% if message.erreurs.rue %}
                    <span class="help-block text-danger"> {{ message.erreurs.rue }}</span>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputVille">Ville</label>
                    <input type="text" class="form-control  {% if message.erreurs.ville %}border border-danger{% endif %}" name="ville" id="inputVille">
                    {% if message.erreurs.ville %}
                        <span class="help-block text-danger"> {{ message.erreurs.ville }}</span>
                    {% endif %}
                </div>
                <div class="form-group col-md-3">
                    <label for="input_departement">Département</label>
                    <select id="input_departement" class="form-control  {% if message.erreurs.departement %}border border-danger{% endif %}" name="departement" >
                        <option selected>Selectionnez ...</option>
                        {% for dep in departements %}
                            <option value="{{dep.nodep}}">{{ dep.nomdep}}</option>
                        {% endfor %}
                    </select>
                    {% if message.erreurs.departement %}
                        <span class="help-block text-danger"> {{ message.erreurs.departement }}</span>
                    {% endif %}
                </div>
                <div class="form-group col-md-3">
                    <label for="input_codePost">Code Postal</label>
                    <input type="text" class="form-control {% if message.erreurs.codePost %}border border-danger{% endif %}" id="input_codePost" name="codePost" >
                    {% if message.erreurs.codePost %}
                        <span class="help-block text-danger"> {{ message.erreurs.codePost }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date_naiss">Date de naissance</label>
                    <input type="date" class="form-control {% if message.erreurs.date_naiss %}border border-danger{% endif %}" id="date_naiss" name="date_naiss" >
                    {% if message.erreurs.date_naiss %}
                        <span class="help-block text-danger"> {{ message.erreurs.date_naiss }}</span>
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    <label for="tel">Numéro de téléphone</label>
                    <input type="tel"  class="form-control {% if message.erreurs.tel %}border border-danger{% endif %}" id="tel" name="tel" >
                    {% if message.erreurs.tel %}
                        <span class="help-block text-danger"> {{ message.erreurs.tel }}</span>
                    {% endif %}
                </div>
            </div>
            <fieldset class="form-group ">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexe" id="gridRadios1"
                                   value="F" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Femme
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexe" id="gridRadios2"
                                   value="M">
                            <label class="form-check-label" for="gridRadios2">
                                Homme
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date_surveillance">Début surveillance</label>
                    <input type="datetime-local" class="form-control {% if message.erreurs.tel %}border border-danger{% endif %}" id="date_surveillance" name="dateSurveillance" >
                    {% if message.erreurs.tel %}
                        <span class="help-block text-danger"> {{ message.erreurs.tel }}</span>
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    <label for="Etat_sante">Etat de santé</label>
                    <select id="Etat_sante" class="form-control" name="Etat_sante" >
                        <option selected>aucun symptome</option>
                        <option>fièvre</option>
                        <option>fièvre et pb respiratoires</option>
                        <option>inconscient</option>
                        <option>décédé</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Ajouter">
        </form>

        <HR>

        <h1> Rechercher des patients </h1>
        <div class="form-row pb-5 pt-1">
            <form class="col-10 m-auto" action="" method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select id="oCategorie" name="oCategorie" class="form-control">
                            <option selected="selected" value="0">Numéro de sécurité</option>
                        </select>
                    </div>
                    <input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="Saisie de mots clés">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Recherche</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row justify-content-md-center">
            {% for patient in patients %}
                <div class="card col-lg-3 col-sm-2 m-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ patient.nom}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ patient.prenom }}</h6>
                        <p class="card-text m-0">Date de Naissance : {{ patient.date_naissance }}</p>
                        <p class="card-text m-0">Numéro de téléphone : {{ patient.num_tel }}</p>
                        <p class="card-text mb-2">Début de surveillance : {{ patient.debut_surveillance }}</p>
                        <p class="card-text m-0">{% if patient.fin_surveillance %} Fin de surveillance : {{ patient.fin_surveillance }} {% else %} Le patient est toujours sous surveillance {% endif %}</p>
                        <p class="card-text m-0">Etat de santé : {{ patient.etat_sante }}</p>
                        {% if patient.hospitalise %}  <p class="card-text m-0">Le patient se trouve à l'hopital : {{ patient.hospitalise }} </p>{% endif %}
                        <a href="{{ path_for('modifierPatient', {numsecu: patient.num_secu}) }}" class="card-link">Modifier</a>
                        {% if not patient.hospitalise %}<a href="{{ path_for('hospitaliserPatient', {numsecu: patient.num_secu}) }}" class="card-link">Hospitaliser</a>{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}